# Compiled Object files
*.obj
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
*.exe
*.dll
*.lib
*.ilk
*.pdb

# Project files
Bin/**

# Visual Studio files
obj/**
ipch
*.psess
*.vspx
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.user
